.main-search-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(32, 49, 95, 0.842);
  width: 100%;
  padding: 5px;
  box-sizing: border-box;

  .search-bar {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    height: 100%;
  }

  .auto-complete-control {
    width: 100%;
    background: none;
    border-radius: 5px;
  }
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
