$body-bg-color-dark: linear-gradient(to bottom right, #03002e, #03002e);
$bg-color-main-dark: #03002e;
$primary-color-dark: #ffffff;
$secondary-color-dark: #cb4154;
$success-color-dark: #3ab54a;
$success-light-color-dark: #89d14b;
$light-color-dark: #ffffff;
$dark-color-dark: #999999;
$dark-light-color-dark: #c3c7ca;
$primary-info-color-dark: #0066d4;
$secondary-info-color-dark: #00e8cf;

//sidebar
$sidebar-bg-color-dark:#001373;
$sidebar-hover-bg-color-dark:#010057;
$sidebar-text-color-dark: #fff;
$sidebar-hover-text-color-dark: #fff;

//dashboard-main-3-card
$dashboard-card-1-dark:#002946d0;
$dashboard-card-2-dark:#9a5501c5;
$dashboard-card-3-dark:#104a00c7;
// admin-dashboard-main-card
$admin-dashboard-card-1-dark:#BFFFF0;
$admin-dashboard-card-2-dark:#F5C68E;
$admin-dashboard-card-3-dark:#FFC5CB;



// background
$primary-bg-color-dark: linear-gradient(to bottom right, #010048, #010048);
$primary-light-bg-color-dark: linear-gradient(
  to bottom right,
  #02006c,
  #02006c
);
$secondary-bg-color-dark: linear-gradient(to bottom right, #cb4154, #cb4154);
$secondary-light-bg-color-dark: linear-gradient(
  to bottom right,
  #f2929f,
  #f2929f
);
$dark-bg-color-dark: linear-gradient(to bottom right, #999999, #999999);
$dark-light-bg-color-dark: linear-gradient(to bottom right, #c3c7ca, #c3c7ca);
$success-bg-color-dark: linear-gradient(to bottom right, #3ab54a, #3ab54a);
$success-light-bg-color-dark: linear-gradient(
  to bottom right,
  #d8f0db,
  #d8f0db
);

// transparent-bg-color
$transparent-primary-bg-color-dark: #e5dffa;
$transparent-dark-bg-color-dark: #d0d5d9;
$transparent-danger-bg-color-dark: #fbd7d7;
$transparent-success-bg-color-dark: #d8f0db;
$transparent-warning-bg-color-dark: #fcecd3;
$transparent-info-bg-color-dark: #f0f9ff;

// button-hover-color
$primary-btn-bg-hover-color-dark: linear-gradient(
  to bottom right,
  #f2929f,
  #f2929f
);
$secondary-btn-bg-hover-color-dark: linear-gradient(
  to bottom right,
  #b4b4b4,
  #b4b4b4
);
$success-btn-bg-hover-color-dark: linear-gradient(
  to bottom right,
  #46d459,
  #46d459
);
$secondary-success-btn-bg-hover-color-dark: linear-gradient(
  to bottom right,
  #cff7d3,
  #cff7d3
);
$disable-primary-btn-bg-color-dark: linear-gradient(
  to bottom right,
  #642a32,
  #642a32
);
