$body-bg-color-light: linear-gradient(to bottom right, #f6f7fb, #f6f7fb);
$bg-color-main-light:#ffffff;
$primary-color-light: #10202b;
$secondary-color-light: #d8263b;
$success-color-light: #3ab54a;
$success-light-color-light: #89d14b;
$light-color-light: #ffffff;
$dark-color-light: #999999;
$dark-light-color-light: #c3c7ca;
$primary-info-color-light: #0066d4;
$secondary-info-color-light: #00e8cf;

//sidebar
$sidebar-bg-color-light:#10202b;
$sidebar-hover-bg-color-light:#fff;
$sidebar-text-color-light: #fff;
$sidebar-hover-text-color-light: #000;

//dashboard-main-3-card
$dashboard-card-1-light:#bfdbf0;
$dashboard-card-2-light:#f5c58e;
$dashboard-card-3-light:#d5e3d3;
// admin-dashboard-main-card
$admin-dashboard-card-1-light:#BFFFF0;
$admin-dashboard-card-2-light:#F5C68E;
$admin-dashboard-card-3-light:#FFC5CB;

// background
$primary-bg-color-light: linear-gradient(to bottom right, #ffffff, #ffffff);
$primary-light-bg-color-light: linear-gradient(to bottom right, #e6e6e6,#e6e6e6);
$secondary-bg-color-light: linear-gradient(to bottom right, #d8263b, #d8263b);
$secondary-light-bg-color-light: linear-gradient(to bottom right,#fdcfd6,#fdcfd6);
$dark-bg-color-light: linear-gradient(to bottom right, #999999, #999999);
$dark-light-bg-color-light: linear-gradient(to bottom right, #c3c7ca, #c3c7ca);
$success-bg-color-light: linear-gradient(to bottom right, #3ab54a, #3ab54a);
$success-light-bg-color-light: linear-gradient(to bottom right,#d8f0db,#d8f0db);

// transparent-bg-color
$transparent-primary-bg-color-light: #e5dffa;
$transparent-dark-bg-color-light: #d0d5d9;
$transparent-danger-bg-color-light: #fbd7d7;
$transparent-success-bg-color-light: #d8f0db;
$transparent-warning-bg-color-light: #fcecd3;
$transparent-info-bg-color-light: #f0f9ff;

// button-hover-color
$primary-btn-bg-hover-color-light: linear-gradient(
  to bottom right,
  #f2374d,
  #f2374d
);
$secondary-btn-bg-hover-color-light: linear-gradient(
  to bottom right,
  #b4b4b4,
  #b4b4b4
);
$success-btn-bg-hover-color-light: linear-gradient(
  to bottom right,
  #46d459,
  #46d459
);
$secondary-success-btn-bg-hover-color-light: linear-gradient(
  to bottom right,
  #cff7d3,
  #cff7d3
);
$disable-primary-btn-bg-color-light:linear-gradient(
  to bottom right,
  #8a2430,
  #8a2430
);
