/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@import "./theme/theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-control {
  width: 100%;
  .mat-mdc-tab.mdc-tab {
    border-radius: 5px 5px 0px 0px;
    transition: 0.3s;
    &:hover {
      background: #1a374d !important;
      .mdc-tab__text-label {
        color: #ffffff;
        // &:hover {
        //   color: #000000;
        // }
      }
    }
  }
  .mat-mdc-tab-header {
    border-bottom: 2px solid #1a374d;
  }
  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #000000;
    &:hover {
      color: #ffffff;
    }
  }
}
.mdc-tab--active {
  background: #1a374d !important;
  .mdc-tab__text-label {
    color: #ffffff !important;
  }
}

.mat-mdc-tab-body-wrapper {
  padding-top: 10px;
}

// ------------mat-select-option-style------------
.mat-select-control {
  width: 100%;
  margin: 5px 0px;
  // all mat-input common style class
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: var(--input-bg-color) !important;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
  }
  .mat-mdc-form-field-focus-overlay {
    background: transparent !important;
  }
  //select label
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-floating-label--float-above {
    color: var(--input-label-color) !important;
  }
  //selected value
  .mat-mdc-select {
    color: var(--input-text-color);
  }
  // down-icon:without-focus
  .mat-mdc-select-arrow {
    color: var(--input-label-color) !important;
  }
}
.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  background: var(--input-bg-color) !important;
  // selected-option-background-color
  .mat-mdc-option:focus.mdc-list-item,
  .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
    background: var(--primary-light-linear-bg-color);
    //selected-option-text-color
    .mdc-list-item__primary-text {
      color: var(--input-text-color) !important;
    }
  }
  //un-selected-option-text-color
  .mat-mdc-option .mdc-list-item__primary-text {
    color: var(--input-text-color) !important;
  }
  //option-hover-background-color
  .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background: var(--primary-light-linear-bg-color);
  }
}
// down-icon:with-focus
.mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
  color: var(--input-label-color) !important;
}
// right-selected-arrow
.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary
  .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: var(--input-text-color) !important;
}

// -----------mat-input-control-style-------------

.mat-input-control {
  width: 100%;
  margin: 5px 0px;
  // all mat-input common style class
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: var(--input-bg-color) !important;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
  }
  .mat-mdc-form-field-focus-overlay {
    background: transparent !important;
  }
  //select label
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-floating-label--float-above {
    color: var(--input-label-color) !important;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-text-field__input {
    color: var(--input-text-color);
  }

  //DISABLE INPUT FIELD STYLE
  .mdc-text-field--filled.mdc-text-field--disabled {
    background: var(--input-bg-color) !important;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
  }
  .mat-mdc-input-element:disabled {
    cursor: not-allowed !important;
  }
}

// ----------mat-date-input-control-style---------------

.mat-date-control {
  width: 100%;
  margin: 5px 0px;
  // all mat-input common style class
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: var(--input-bg-color) !important;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
  }
  .mat-mdc-form-field-focus-overlay {
    background: transparent !important;
  }
  // date-label
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-floating-label--float-above {
    color: var(--input-label-color) !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-text-field__input {
    color: var(--input-text-color);
  }
  //   date-icon-color
  .mat-mdc-icon-button svg,
  .mat-mdc-icon-button img {
    color: var(--input-label-color) !important;
  }
}

// -------------------mat-menu-style----------------------

.mat-mdc-menu-panel {
  background: var(--primary-linear-bg-color) !important;
  .mat-mdc-menu-content {
    .mat-mdc-menu-item {
      background: var(--primary-linear-bg-color) !important;
    }
    .mat-mdc-menu-item:not([disabled]):hover {
      background: var(--primary-light-linear-bg-color) !important;
    }
  }
}
